<div class="modal-header">
	<h2 class="modal-title" id="myLargeModelLabel">Recadrez votre avatar et réorientez le si besoin</h2>
</div><!-- modal-header -->
<div class="modal-body" id="uploaderModal">
	<div class="text-center" id="img-prev" crop-my-face></div>
	<div>
	</div>
</div><!-- fin modal body -->
<div class="modal-footer">
	<button type="button" class="pull-left btn btn-info btn" id="btn-rotate"><span class="glyphicon glyphicon-repeat"></span></button>
	<button type="button" class="btn btn-info" ng-click="send()">Uploader !</button>
	<button type="button" class="btn btn-info" ng-click="close()">Fermer</button>
</div><!-- modal-footer -->