<div class="row">
	<div class="col-lg-3">
		<div class="thumbnail">
			<h2 class="text-center">Lionnel DUPOUY</h2>
			<img src="avatars/t/tapesec.png" alt="photo de tapesec" class="img-circle img-responsive">
			<div class="caption">
				<p>Bonjour à tous,</p>
				<p>Je travaille comme développeur au Service des Systèmes d'Informations de la Sécurité Intérieure et je suis heureux de pouvoir partager avec vous ma passion pour la programmation en créant pour vous cette plateforme d'échange et de contact pour réussir à monter une permutation.
				</p>
				<p>Je suis entré dans la Police Nationale comme vous, il y a une douzaine d'année et je sais à quel point les mutations sont importantes pour tous les collègues que le hasard des affectations ont disperssés aux 4 coins de la France. Si cette plateforme vous permet d'arranger un peu les choses j'en serait tres heureux.</p>
				<p>En attendant notre bon Père Mut' vous souhaite la bienvenue et bonne chance sur notre site à bientôt !</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 thumbnail">
		<div class="caption">
			<h2>Comment ça marche ?</h2>
			<p>Le père mut', derrière cette silhouette rondouillette et joviale, est un algorithme de recherche de permutation possible dans la base de données des utilisateurs inscris et <em>qui on remplit complètement leur profil</em>.<br>Rendez vous dans la page "mon profil", cliquez sur le bouton à lire absolument, lisez bien tout et remplissez votre profil. En haut à droite du formulaire à remplir se trouve une phrase qui vous dira si votre formulaire est valide ou non. Vous pourrez appuyer sur valider uniquement quand les infos nécessaires seront renseignées.</p>
			<p> Le père mut peut trouver des possibilités de permutation bi-partite (vous, avec une autre personne), permutation tri partite, vous, à la place d'une personne, qui va à la place d'encore une autre, qui va à votre place. Pour finir, quadra-partite (je n'insiste pas vous aurez compris).</p>
			<p>Il suffit de vous rendre sur la page recherche automatique et d'appuyer sur le bouton trouver un permutant. Si le père mut' trouve quelque chose vous verrez les combinaisons possibles apparaitre ainsi que le pseudo et les informations de toute les personnes concernées par la permutation avec surtout tous les adresses email pour vous contacter.</p>
			<p>Le job du père mut' s'arette là pour le moment, c'est à vous de faire la suite, contacter un syndicat ou renseignez vous sur le dossier à monter avec votre ou vos collègues le plus dur est fait.</p>
			<h3>Quelques détails techniques</h3>
			<p>Le système de mise en relation reste simple et ne gère pas les particularités des services spéciaux ou des enités comme la prefecture de police de Paris.<br>Quand vous renseignez votre lieu de résidence, vous mettez le nom de la ville où vous travaillez et vous rencontrerez peut être des gens en poste dans la ou les villes ou vous souhaitez aller. Seulement je sais bien qu'à la Prefecture de Police de Paris il y a la DOPC, la DSPAP, la DOSTL, etc.. <br>C'est à vous de regarder et de bien renseigner le nom de votre service avec une description pour vérifier que cela peu "coller" entre vous.</p>
			<h3>Conclusion</h3>
			<p>Le père Mut' vous demande dans quelles villes vous voulez travailler mais ne tiendra pas compte des directions, des services ou arrondissements. Le système est idéal pour les commissariats de sécurité publique mais un peu moins pour les cas particuliers. Il reste néanmoins un bon outil pour mettre en relation les collègues en vue d'une permutation. Cette application web a été faite sur le temps libre de vos serviteurs et je sais que vous en tiendrez compte.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="thumbnail">
			<h2 class="text-center">Lionnel DUPOUY</h2>
			<img src="avatars/t/tapesec.png" alt="photo de tapesec" class="img-circle img-responsive">
			<div class="caption">
				<p>Bonjour à tous,</p>
				<p>Je travaille comme développeur au Service des Systèmes d'Informations de la Sécurité Intérieure et je suis heureux de pouvoir partager avec vous ma passion pour la programmation en créant pour vous cette plateforme d'échange et de contact pour réussir à monter une permutation.
				</p>
				<p>Je suis entré dans la Police Nationale comme vous, il y a une douzaine d'année et je sais à quel point les mutations sont importantes pour tous les collègues que le hasard des affectations ont disperssés aux 4 coins de la France. Si cette plateforme vous permet d'arranger un peu les choses j'en serait tres heureux.</p>
				<p>En attendant notre bon Père Mut' vous souhaite la bienvenue et bonne chance sur notre site à bientôt !</p>
			</div>
		</div>
	</div>
</div>
