<div class="row no-marge bg-edition">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="well bs-component">
			<form class="form" name="formProfil" novalidate>
				<fieldset>
					<legend>Edition du profil 
					<small class="text-success pull-right" ng-if="formProfil.$valid && formProfil.$pristine">Complet !</small>
					<small class="text-success pull-right" ng-if="formProfil.$valid && formProfil.$dirty">Complet ! click sur le bouton valider en bas</small>
					<small class="text-warning pull-right" ng-if="formProfil.$invalid">Votre profil n'est pas encore complet..</small>
					</legend>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Email : </label>
							<input class="form-control input-sm" name="profilEmail" ng-model="profil.email" type="email" required autocomplete="off">
							<!-- notification -->
							<small class="help-block"ng-show="formProfil.profilEmail.$invalid && formProfil.profilEmail.$dirty">
								<span class="glyphicon glyphicon-remove"></span> Adresse mail invalid !
							</small>
						</div>
						<div class="form-group">
							<label>Ancien mot de passe :</label>
							<input class="form-control input-sm" type="password" name="profilPasswordOld" ng-model="profil.Oldpassword" autocomplete="off" ng-change="getPassword(profil.Oldpassword)" correct="passwordIsCorrect" check-password placeholder="Seulement pour changer son mot de passe">
							<small class="help-block" ng-show="formProfil.profilPasswordOld.$invalid && formProfil.profilPasswordOld.$dirty && formProfil.profilPasswordOld.$touched">
								<span class="glyphicon glyphicon-remove"></span> Mot de passe incorrect
							</small>
							<small class="help-block" ng-show="formProfil.profilPasswordOld.$valid && formProfil.profilPasswordOld.$dirty">
								<span class="glyphicon glyphicon-success"></span> Mot de passe ok !
							</small>
						</div>
						<div class="form-group">
							<label>Nouveau mot de passe :</label>
							<input class="form-control input-sm" type="password" name="profilPassword" ng-model="profil.password" autocomplete="off" placeholder="Seulement pour changer son mot de passe" ng-minlength="6">
							<!-- notification -->
							<small class="help-block" ng-show="formProfil.profilPassword.$invalid && formProfil.profilPassword.$dirty && formProfil.profilPassword.$touched">
								<span class="glyphicon glyphicon-remove"></span> Le mot de passe doit contenir au moins 6 caractères
							</small>
						</div>
						<div class="form-group">
							<label>Confirmer le nouveau mot de passe :</label>
							<input class="form-control input-sm" confirm-password password="profil.password" type="password" name="profilConfirm" ng-model="profil.confirm" autocomplete="off" placeholder="Seulement pour changer son mot de passe">
							<!-- notification -->
							<small class="help-block" ng-show="formProfil.profilConfirm.$invalid && formProfil.profilConfirm.$dirty && formProfil.profilConfirm.$touched">
								<span class="glyphicon glyphicon-warning-sign"></span> Mot de passe incorrect
							</small>
						</div>
						<div class="form-group well">
							<div class="media">
								<a class="pull-left" href="#">
									<img width="80" height="80" class="img-circle img-responsive" src="{{profil.avatar}}" alt="Image de l'avatar par défaut">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Choisissez un avatar</h4>
									<div class="form-group">
									 <input type="file" upload-form />
									 <button type="button" class="btn btn-block btn-sm btn-info" ng-click="sendAvatar()">Sauvegarder l'avatar</button>
									</div>
								</div>
							</div>
						</div>	
						
						<button type="button" class="btn btn-lg btn-warning btn-block"><span class="glyphicon glyphicon-info-sign"></span> A lire absolument</button>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Statut administratif</label>
							<p class="form-control-static input-sm">Ministère de l'Intérieur - Police Nationale - Personnels actifs</p>
						</div>
						<div class="form-group">
							<label>Grade :</label>
							<select class="form-control input-sm" name="profilGrade" ng-model="profil.grade" required>
								<option ng-repeat="grade in listGrade">{{grade}}</option>
							</select>
							<small class="help-block"ng-show="formProfil.profilGrade.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> Le grade doit être renseigné..
							</small>
						</div>
						<div class="form-group">
							<label>Date entrée dans l'administration (hors ADS ou PA) :</label>
							<input class="form-control input-sm" type="text" name="profilDateEntree" ng-model="profil.dateEntree"
							datepicker-popup="dd MMMM yyyy" is-open="open" ng-click="open = !open" placeholder="click pour ouvrir le calendrier" required autocomplete="off">
							<small class="help-block"ng-show="formProfil.profilDateEntree.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> La date d'entrée dans l'administration doit être renseigné..
							</small>
						</div>
						<div class="form-group">
							<label>Date d'obtention du grade actuel (pour gpx date titu) :</label>
							<input class="form-control input-sm" type="text" name="profilDateGrade" ng-model="profil.dateGrade"
							datepicker-popup="dd MMMM yyyy" is-open="open2" ng-click="open2 = !open2" placeholder="click pour ouvrir le calendrier" required autocomplete="off">
							<small class="help-block"ng-show="formProfil.profilDateGrade.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> La date d'obtention du grade doit être renseigné..
							</small>
						</div>
					
							<autofill auto-style="form-control input-sm" prompt="Tape les premieres lettres de la ville et selectionne dans le menu déroulant" label="Ville de résidence" name="profilVille" ng-model="profil.ville" listeville="liste" action="search(profil.ville)" required="true"></autofill>
							<small class="help-block"ng-show="formProfil.profilVille.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> La ville de résidence doit être renseigné..
							</small>
						
						
						<div class="form-group">
							<label>Direction et service d'appartenance :</label>
							<input class="form-control input-sm" type="text" name="profilService" ng-model="profil.service" placeholder="Exemple : BAC nuit ou DOPC/SRDCSR/SCCC" required>
							<small class="help-block"ng-show="formProfil.profilService.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> Le nom du service n'est pas encore renseigné..
							</small>
						</div>
						<div class="form-group">
							<label>Descriptif bref du poste et de l'environement de travail (pas d'infos sensibles)</label>
							<textarea class="form-control input-sm" name="profilDescription" ng-model="profil.presentation" placeholder='Exemple : "Régime cyclique 4/2 + 1 RC sup" ou "être disponible habilitation OPJ obligatoire" etc ...' required></textarea>
							<small class="help-block"ng-show="formProfil.profilDescription.$error.required">
								<span class="glyphicon glyphicon-warning-sign"></span> Aucune description n'a encore été donné..
							</small>
						</div>
					</div>
					<hr>
					<legend>Choix de la permutation : <small>indiquez une ville</small></legend>
					<div class="form-group">

						<autofill auto-style="form-control" prompt="Choix N° 1 (obligatoire) : Tape les premieres lettres de la ville et selectionne dans le menu déroulant" label="Choix de permutation (par ville) 1 choix obligatoire les 2 autres facultatifs" name="profilChoix1" ng-model="profil.destination.choix1" listeville="liste" action="search(profil.destination.choix1)" required="true"></autofill>
						<small class="help-block"ng-show="formProfil.profilChoix1.$error.required">
							<span class="glyphicon glyphicon-warning-sign"></span> Renseigné au moins 1 choix de destination..
						</small>
						
						<autofill auto-style="form-control" prompt="Choix N° 2 (facultatif) : Tape les premieres lettres de la ville et selectionne dans le menu déroulant" name="profilChoix2" ng-model="profil.destination.choix2" listeville="liste" action="search(profil.destination.choix2)"></autofill>

						<autofill auto-style="form-control" prompt="Choix N° 3 (facultatif) : Tape les premieres lettres de la ville et selectionne dans le menu déroulant" name="profilChoix3" ng-model="profil.destination.choix3" listeville="liste" action="search(profil.destination.choix3)"></autofill>

					</div>
					<div class="form-group">
						<button type="button" ng-click="update($scope.profil)" class="btn btn-block btn-success" ng-disabled="formProfil.$invalid || formProfil.$pristine">Valider mon profil</button>	
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>