<div class="no-marge bg-auto-search">
<div class="row">
<!--<pre>{{match | json}}</pre>-->
	<div class="col-lg-12" ng-if="!match && user.ready == true">
		<div class="col-lg-4 col-lg-offset-4">
			<button ng-click="searchAboutPermutation()" ng-disabled="!user.ready || !user.cycleAvailable" class="btn btn-lg btn-success btn-block"><span class="glyphicon glyphicon-search"></span> Cherchez un permutant !</button>
		</div>
	</div>

</div>
<div class="row" ng-if="!match && user.ready == false">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="alert alert-danger">
			<p>Votre profil n'est pas complet, vous ne pouvez donc pas encore chercher de permutant.<br>
			Par le menu ci dessus, rendez vous dans la page <span class="label label-primary"><span class="glyphicon glyphicon-user"></span> Mon profil</span> pour completer les informations et n'oubliez pas de cliquer sur le bouton <span class="label label-warning"><span class="glyphicon glyphicon-info-sign"></span> à lire absolument</span></p>
			<p>Si vous ne l'avez pas encore fait, commencez par lire la section <span class="label label-primary"><span class="glyphicon glyphicon-question-sign"></span> à propos</span> pour en savoir plus sur notre Père Mut' et ses créateurs.</p>
		</div>
	</div>
</div>
<div class="row" ng-if="match == 'no match'">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="alert alert-info">
			<p>Le père mut' ne vous a pas trouvé de permutant pour le moment, mais réessayez un autre jour quand plus de monde ce sera inscris et vos chances auront augmentées.</p>
		</div>
	</div>
</div>
<!--<pre>{{user | json}}</pre>-->
<!-- bipartite -->

<div class="row" ng-if="match.bipartite">
	<div class="col-lg-12" ng-repeat="bi in match.bipartite">
		
		<div class="row panel panel-success">
			<div class="panel-heading text-center">
				<span class="lead"><i class="fa fa-angellist"></i> Permutation bi-partite possible !</span>
			</div>
			<div class="panel-body">
				<div class="col-lg-2">
					
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="{{bi.pos1.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-success text-uppercase">{{bi.pos1.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{bi.pos1.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{bi.pos1.service}}</p>
							<p>
							<a ng-click="open(bi.pos1)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="text-center h1 bi-transfer-icon"><span class="glyphicon glyphicon-transfer"></span> </div>
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="{{bi.pos2.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-capitalize">{{bi.pos2.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{bi.pos2.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{bi.pos2.service}}</p>
							<p>
							<p><a ng-click="open(bi.pos2)" class="btn btn-default btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>


<!-- tripartite -->
<div class="row" ng-if="match.tripartite">
	<div class="col-lg-12" ng-repeat="tri in match.tripartite">

		<div class="row panel panel-success">
			<div class="panel-heading text-center">
				<span class="lead"><i class="fa fa-angellist"></i> Permutation tri-partite possible !</span>
			</div>
			<div class="panel-body">
				<div class="col-lg-2">
					<div class="thumbnail">
						<img src="{{tri.pos1.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-success text-uppercase">{{tri.pos1.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{tri.pos1.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{tri.pos1.service}}</p>
							<p>
							<p><a ng-click="open(tri.pos1)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-1">
					<div class="text-center h1 bi-transfer-icon"><i class="fa fa-arrow-right"></i> </div>
				</div>
				<div class="col-lg-2">
					<div class="thumbnail" ng-repeat="pos2 in tri.pos2">
						<img src="{{pos2.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-capitalize">{{pos2.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{pos2.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{pos2.service}}
							<p>
							<p><a ng-click="open(pos2)" class="btn btn-default btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-1">
					<div class="text-center h1 bi-transfer-icon"><i class="fa fa-arrow-right"></i> </div>
				</div>
				<div class="col-lg-2">
					<div class="thumbnail">
						<img src="{{tri.pos3.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-capitalize">{{tri.pos3.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{tri.pos3.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{tri.pos3.service}}</p>
							<p>
							<p><a ng-click="open(tri.pos3)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-1">
					<div class="text-center h1 bi-transfer-icon"><i class="fa fa-arrow-right"></i> </div>
				</div>
				<div class="col-lg-2">
					<div class="thumbnail">
						<img src="{{tri.pos4.avatar}}" alt="..." class="img-circle img-responsive">
						<div class="caption">
							<h3 class="text-center text-success text-uppercase">{{tri.pos4.login}}</h3>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> {{tri.pos4.residence}}
								<br>
								<span class="glyphicon glyphicon-bookmark"></span> {{tri.pos4.service}}</p>
							<p>
							<p><a ng-click="open(tri.pos4)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- quadrapartite -->
<div class="row" ng-if="match.quadrapartite">
	<div class="col-lg-12" ng-repeat="quadra in match.quadrapartite">

		<div class="row panel panel-success">
			<div class="panel-heading">
				<p><center>Permutation quadra-partite possible !</center></p>
			</div>
			<div class="panel-body">
				<div class="col-lg-2 col-lg-offset-1">
					<div class="thumbnail">
						<img ng-src="{{quadra.pos1.avatar}}" alt="...">
						<div class="caption">
							<h3>{{quadra.pos1.login}}</h3>
							<p>{{quadra.pos1.residence}}<br>{{quadra.pos1.service}}<br>{{quadra.pos1.description}}</p>
							<p><a ng-click="open(quadra.pos1)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2" ng-repeat="pos2 in quadra.pos2">
					<div class="thumbnail">
						<img ng-src="{{pos2.avatar}}" alt="...">
						<div class="caption">
							<h3>{{pos2.login}}</h3>
							<p>{{pos2.residence}}<br>{{pos2.service}}<br>{{pos2.description}}</p>
							<p><a ng-click="open(pos2)" class="btn btn-default btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2" ng-repeat="pos3 in quadra.pos3">
					<div class="thumbnail">
						<img ng-src="{{pos3.avatar}}" alt="...">
						<div class="caption">
							<h3>{{pos3.login}}</h3>
							<p>{{pos3.residence}}<br>{{pos3.service}}<br>{{pos3.description}}</p>
							<p><a ng-click="open(pos3)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="thumbnail">
						<img ng-src="{{quadra.pos4.avatar}}" alt="...">
						<div class="caption">
							<h3>{{quadra.pos4.login}}</h3>
							<p>{{quadra.pos4.residence}}<br>{{quadra.pos4.service}}<br>{{quadra.pos4.description}}</p>
							<p><a ng-click="open(quadra.pos4)" class="btn btn-default btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="thumbnail">
						<img ng-src="{{quadra.pos5.avatar}}" alt="...">
						<div class="caption">
							<h3>{{quadra.pos5.login}}</h3>
							<p>{{quadra.pos5.residence}}<br>{{quadra.pos5.service}}<br>{{quadra.pos5.description}}</p>
							<p><a ng-click="open(quadra.pos5)" class="btn btn-primary btn-block" role="button">Voir les détails</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>